<% include ../header %>

<script src="/socket.io/socket.io.js"></script>
<script>
    const socket = io();

    socket.on('send-client', (msg) => {
        document.getElementById('chat').innerHTML += msg
    })

    const enviar = () => {
        const nome = document.getElementById('nome').value
        const msg = document.getElementById('msg').value
        socket.emit('send-server', { nome, msg })
    }

</script>

<header class="row-fluid text-center">
    <h2>Ntalk - Chat</h2>
</header>
<section class="row-fluid">
    <div class="well span6 offset3">
        <pre id="chat" class="pre-scrollable" style="width:auto;height:250px;"></pre>
        <div class="input-append">

            <input type="hidden" id="nome" value="<%- usuario.nome %>">
            <input type="text" id="msg" class="input-xlarge" placeholder="Digite sua mensagem">
            <button class="btn btn-success" onclick="enviar();">Enviar</button>

        </div>
    </div>
</section>
<% include ../exit %>
<% include ../footer %>